

#ve2851 .span22 {
  font-size: 10pt;
}
#ve2851 .GraphDataStyleDefault {
  fill-color: #C8EEED;
}
#ve332 .span10 {
  font-size: 10pt;
}
#ve73 .span29 {
  font-size: 10pt;
}
#ve1153 .span42 {
  font-size: 10pt;
}
#ve1153 .span41 {
  font-size: 10pt;
}
#ve2851 .span21 {
  font-size: 10pt;
}
#ve1153 .span40 {
  background-color: transparent;
  font-size: 10pt;
}
#ve428 .span15 {
  font-size: 10pt;
}
#ve1153 .ReportElementContainer {
  padding: 32px;
}
#ve332 .span11 {
  font-size: 10pt;
}
#ve428 .span14 {
  font-size: 10pt;
}
#ve332 .ReportElementContainer {
  padding: 32px;
}
#ve2851 .GraphSkin {
  data-skin: NONE;
}
#ve473 .span27 {
  font-size: 10pt;
}
#ve7225 .ReportElementContainer {
  padding: 52px;
}
#ve4995 .span34 {
  font-size: 10pt;
}
#ve7268 .measurebi7620 {
  width: 88px;
}
#ve4995 .span35 {
  font-size: 10pt;
}
#ve371 .span13 {
  font-weight: bold;
}
#ve73 .paragraph1 {
  text-align: center;
}
#ve4995 .span36 {
  font-size: 10pt;
}
#ve73 .span5 {
  font-size: 10pt;
}
#ve141 .Container {
  background-color: #F4F4F4;
  transparency: 0;
  border-color: #FFFFFF;
  border-width: 10px;
}
#ve4995 .span37 {
  font-size: 10pt;
}
#ve4995 .span32 {
  font-size: 24pt;
}
#ve141 .span7 {
  font-size: 10pt;
}
#ve4995 .span33 {
  font-weight: bold;
}
#ve428 .span49 {
  font-size: 10pt;
}
#ve1153 .span39 {
  font-size: 10pt;
}
#ve141 .paragraph3 {
  text-align: center;
}
#ve2983 .paragraph6 {
  text-align: center;
}
#vi361 .ReportPagePadding {
  padding: 32px;
}
#ve97 .span6 {
  font-size: 10pt;
}
#ve97 .ReportElementContainer {
  padding: 16px;
}
#ve73 .Container {
  background-color: #F4F4F4;
  transparency: 0;
  border-color: #FFFFFF;
  border-width: 10px;
}
#ve7225 .paragraph7 {
  text-align: center;
}
#ve4995 .span45 {
  font-size: 10pt;
}
#ve97 .Container {
  background-color: #F4F4F4;
  transparency: 0;
  border-color: #FFFFFF;
  border-width: 10px;
}
#ve1153 .span20 {
  font-size: 10pt;
}
#ve4995 .span43 {
  font-size: 10pt;
}
#ve4995 .span44 {
  font-size: 10pt;
}
#ve332 .span4 {
  font-size: 10pt;
}
#ve428 .span38 {
  font-size: 10pt;
}
#ve97 .span30 {
  font-size: 10pt;
}
#ve332 .span1 {
  font-size: 24pt;
}
#ve332 .span2 {
  font-weight: bold;
}
#ve332 .span3 {
  font-size: 10pt;
}
#ve1153 .span26 {
  font-size: 10pt;
}
#ve55 .span12 {
  font-size: 10pt;
}
#ve473 .paragraph5 {
  text-align: center;
}
#ve2851 .GraphDataStyle1 {
  fill-color: #C8EEED;
}
#ve55 .paragraph4 {
  text-align: center;
}
#ve141 .span31 {
  font-size: 10pt;
}
#ve2983 .span28 {
  font-size: 10pt;
}
#ve97 .paragraph2 {
  text-align: center;
}
#ve7268 .hierarchybi7273 {
  width: 95px;
}
#ve1153 .span18 {
  font-size: 10pt;
}
#ve428 .span23 {
  font-weight: bold;
  font-size: 10pt;
}
#ve1153 .span17 {
  font-weight: bold;
}
#ve428 .span24 {
  font-size: 10pt;
}
#ve1153 .span16 {
  font-size: 24pt;
}
#ve428 .span25 {
  font-size: 10pt;
}
#ve1153 .span19 {
  font-size: 10pt;
}
#ve141 .ReportElementContainer {
  padding: 16px;
}
#ve332 .span8 {
  font-size: 10pt;
}
#ve332 .span9 {
  font-size: 10pt;
}
#vi6 .ReportPagePadding {
  padding: 32px;
}
#ve7225 .Container {
  background-color: #F6F6F6;
  transparency: 0;
}
#ve7268 .measurebi7292 {
  width: 80px;
}
#vi2827 .ReportPagePadding {
  padding: 32px;
}
#ve7268 .measurebi7290 {
  width: 79px;
}

			